# @file calculate-unsafe-code.yml
#
# A workflow that counts the amount of unsafe code in the repository with data broken
# down into various categories.
#
# NOTE: This file is automatically synchronized from Patina DevOps. Update the original file there
#       instead of the file in this repo.
#
# - Patina DevOps Repo: https://github.com/OpenDevicePartnership/patina-devops
# - File Sync Settings: https://github.com/OpenDevicePartnership/patina-devops/blob/main/.sync/Files.yml
#
##
# Copyright (c) Microsoft Corporation.
# SPDX-License-Identifier: Apache-2.0
##
name: Calcuate Unsafe Code

on:
  workflow_dispatch:
  push:
    branches:
      - main
  schedule:
    # Run daily at 6 AM UTC
    - cron: '0 6 * * *'

jobs:
  calculate_unsafe_code:
    name: Run
    uses: OpenDevicePartnership/patina-devops/.github/workflows/CalculateUnsafeCode.yml@v0.3.6
    secrets: inherit
