# @file ci-workflow.yml
#
# A workflow that runs basic CI tests and Rust CI tests, triggered on a pull_request or push to
# main.
#
# NOTE: This file is automatically synchronized from Patina DevOps. Update the original file there
#       instead of the file in this repo.
#
# - Patina DevOps Repo: https://github.com/OpenDevicePartnership/patina-devops
# - File Sync Settings: https://github.com/OpenDevicePartnership/patina-devops/blob/main/.sync/Files.yml
#
##
# Copyright (c) Microsoft Corporation.
# SPDX-License-Identifier: Apache-2.0
##
name: CI

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - major
      - feature/**/*
  pull_request:
    branches:
      - main
      - major
      - feature/**/*

jobs:
  ci_workflow:
    name: Run
    uses: OpenDevicePartnership/patina-devops/.github/workflows/CiWorkflow.yml@v0.3.6
    with:
      build-tasks: build,build-x64,build-aarch64
      run-cargo-vet: false
    secrets: inherit
  mdbook_docs_test:
    name: Run
    uses: OpenDevicePartnership/patina-devops/.github/workflows/MdbookWorkflow.yml@v0.3.6
    with:
      mdbook-path: "docs"
      build-cmd: cargo make build-lib
    secrets: inherit
